<app-accueil></app-accueil>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ artist.name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Albums</h2>
      <ul>
        <li *ngFor="let album of artist.albums">
          <app-album-description [id]="getAlbumId(album)"></app-album-description>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Chansons</h2>
      <ul>
        <li *ngFor="let song of artist.songs">
          <app-musique-details [id]="getSongId(song)"></app-musique-details>
        </li>
      </ul>
    </div>
  </div>
</div>
