<app-accueil></app-accueil>
<div class="container">
  <h1 class="m-4">Les albums</h1>
  <div class="row w-100 justify-content-center text-center">
    <ng-container *ngFor="let album of albums; index as i">
      <div class="card m-2 w-25">
        <a [href]="'/album/' + album.id" class="card-text">
          <img class="card-img-top" src="{{ album.image }}" alt="album">
        </a>
        <div class="card-body">
          <h2 class="h5 card-title">{{ album.title }}</h2>
          <a [href]="'/artiste/' + album.artist.id" class="card-text">Artist</a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
